.request-trip {
  position: absolute;
  top: 1rem;
  right: 1rem;
  @include cool-button();
}

.request-trip:hover {
  background-color: $button-hover-color;
}

.request-container {
  display: flex;
  justify-content: center;
}

.request-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
}

.request-button {
  @include cool-button();
}

.request-button:hover {
  background-color: $button-hover-color;
}

.request-button:disabled {
  border: 1px solid grey;
  box-shadow: none;
  color: darkgray;
  background-color: grey;
}

@media screen and (max-width: 550px) {
  .request-trip {
    right: 0;
    padding: 8px 16px;
  }
}