@import "./_normalize.scss";
@import "./_variables.scss";
@import "./_loginPage.scss";
@import "./_tripsPage.scss";
@import "./_requestTrip.scss";

body {
  color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  background: $primary-background;
}

